/*MAIN PAGE*/

body {
    margin: 0;
    background-color: #0a0a0a;
    padding-left: 50px;
    padding-right: 50px;
    /*background-image: url("../grass.jpg");*/
}

h1 {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    color: white;
}

form {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    transition: 1s;
}

#name,
#buttonSubmit {
    border: none;
    padding: 0;
    border-radius: 0;
    height: 40px;
}

#name {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 50vw;
    text-align: center;
}

#nameempty {
    border: none;
    padding: 0;
    border-radius: 0;
    height: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 50vw;
    text-align: center;
    animation-name: emptyname;
    animation-duration: 500ms;
}

@keyframes emptyname {
    0% {
        background-color: white;
    }
    50% {
        background-color: #ff2d2d;
    }
    100% {
        background-color: white;
    }
}

#buttonSubmit {
    position: absolute;
    display: flex;
    align-self: flex-end;
    transition: 0.2s;
    padding: 0px 30px 0px 30px;
    background-color: white;
    color: #333333;
    outline: 0 !important;
}

#buttonSubmit:hover {
    color: white;
    background-color: #333333;
    cursor: pointer;
}

#buttonSubmit::-moz-focus-inner {
    border: 0
}


/*MAIN PAGE END*/

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.infos {
    width: 100%;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nom {
    text-align: center;
}

.nomEnnemy {
    text-align: center;
}

.player {
    display: flex;
    flex-direction: column;
}

.playerHealth {
    background-color: red;
    height: 20px;
    width: 300px;
    transition: 0.5s;
    display: none;
}

.ennemyHealth {
    background-color: red;
    width: 300px;
    height: 20px;
    transition: 0.5s;
    display: none;
}


/*MAP*/

.map {
    display: flex;
    flex-wrap: wrap;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /*padding:0px 30px 0px 30px;*/
}

.game {
    padding-top: 5%;
    height: 500px;
    width: 550px;
}

.mapBlock {
    margin: 0;
    padding-left: 0px;
    display: flex;
    background-color: #49b293;
    transition: 0.5s;
    border: 2px solid white;
}

.mapBlock:hover {
    border: 2px solid red;
    cursor: pointer;
}

.imgTexture {
    width: 50px;
    height: 50px;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    transform: rotate(0.5deg);
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canmoveon {
    opacity: 0.5;
}


/*div {
    background-color: #49b293;
    width: 200px;
    height: 200px;
    margin: 0;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}*/


/*MAP END*/


/*Persos*/

.persohidden {
    display: none;
}

.personnage {
    position: absolute;
    height: 80px;
    width: 90px;
    /*left:250px;
    top:200px;*/
    /*transition: 0s;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    background-image: url("../img/player/Walk/walk_10000.png");
    background-size: 100% 100%;
    transition: 2.4s;
}

#perso {
    height: 100%;
    width: 100%;
}


/*animations*/

.walkright {
    height: 80px;
    width: 90px;
    animation-name: walkRight;
    animation-duration: 1s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}

@keyframes walkRight {
    0% {
        background-image: url("../img/player/Walk/walk_10000.png");
    }
    20% {
        background-image: url("../img/player/Walk/walk_10001.png");
    }
    30% {
        background-image: url("../img/player/Walk/walk_10002.png");
    }
    40% {
        background-image: url("../img/player/Walk/walk_10003.png");
    }
    50% {
        background-image: url("../img/player/Walk/walk_10004.png");
    }
    60% {
        background-image: url("../img/player/Walk/walk_10005.png");
    }
    70% {
        background-image: url("../img/player/Walk/walk_10006.png");
    }
    80% {
        background-image: url("../img/player/Walk/walk_10007.png");
    }
    90% {
        background-image: url("../img/player/Walk/walk_10008.png");
    }
    100% {
        background-image: url("../img/player/Walk/walk_10009.png");
    }
}

.walkleft {
    height: 80px;
    width: 90px;
    animation-name: walkLeft;
    animation-duration: 1s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}

@keyframes walkLeft {
    0% {
        background-image: url("../img/player/Walk/walk_50000.png");
    }
    20% {
        background-image: url("../img/player/Walk/walk_50001.png");
    }
    30% {
        background-image: url("../img/player/Walk/walk_50002.png");
    }
    40% {
        background-image: url("../img/player/Walk/walk_50003.png");
    }
    50% {
        background-image: url("../img/player/Walk/walk_50004.png");
    }
    60% {
        background-image: url("../img/player/Walk/walk_50005.png");
    }
    70% {
        background-image: url("../img/player/Walk/walk_50006.png");
    }
    80% {
        background-image: url("../img/player/Walk/walk_50007.png");
    }
    90% {
        background-image: url("../img/player/Walk/walk_50008.png");
    }
    500% {
        background-image: url("../img/player/Walk/walk_50009.png");
    }
}

.walkup {
    height: 80px;
    width: 90px;
    animation-name: walkUp;
    animation-duration: 1s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}

@keyframes walkUp {
    0% {
        background-image: url("../img/player/Walk/walk_30000.png");
    }
    20% {
        background-image: url("../img/player/Walk/walk_30001.png");
    }
    30% {
        background-image: url("../img/player/Walk/walk_30002.png");
    }
    40% {
        background-image: url("../img/player/Walk/walk_30003.png");
    }
    50% {
        background-image: url("../img/player/Walk/walk_30004.png");
    }
    60% {
        background-image: url("../img/player/Walk/walk_30005.png");
    }
    70% {
        background-image: url("../img/player/Walk/walk_30006.png");
    }
    80% {
        background-image: url("../img/player/Walk/walk_30007.png");
    }
    90% {
        background-image: url("../img/player/Walk/walk_30008.png");
    }
    300% {
        background-image: url("../img/player/Walk/walk_30009.png");
    }
}

.walkdown {
    height: 80px;
    width: 90px;
    animation-name: walkDown;
    animation-duration: 1s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}

@keyframes walkDown {
    0% {
        background-image: url("../img/player/Walk/walk_70000.png");
    }
    20% {
        background-image: url("../img/player/Walk/walk_70001.png");
    }
    30% {
        background-image: url("../img/player/Walk/walk_70002.png");
    }
    40% {
        background-image: url("../img/player/Walk/walk_70003.png");
    }
    50% {
        background-image: url("../img/player/Walk/walk_70004.png");
    }
    60% {
        background-image: url("../img/player/Walk/walk_70005.png");
    }
    70% {
        background-image: url("../img/player/Walk/walk_70006.png");
    }
    80% {
        background-image: url("../img/player/Walk/walk_70007.png");
    }
    90% {
        background-image: url("../img/player/Walk/walk_70008.png");
    }
    700% {
        background-image: url("../img/player/Walk/walk_70009.png");
    }
}

.walkupright {
    height: 80px;
    width: 90px;
    animation-name: walkUpRight;
    animation-duration: 1s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}

@keyframes walkUpRight {
    0% {
        background-image: url("../img/player/Walk/walk_20000.png");
    }
    20% {
        background-image: url("../img/player/Walk/walk_20001.png");
    }
    30% {
        background-image: url("../img/player/Walk/walk_20002.png");
    }
    40% {
        background-image: url("../img/player/Walk/walk_20003.png");
    }
    50% {
        background-image: url("../img/player/Walk/walk_20004.png");
    }
    60% {
        background-image: url("../img/player/Walk/walk_20005.png");
    }
    70% {
        background-image: url("../img/player/Walk/walk_20006.png");
    }
    80% {
        background-image: url("../img/player/Walk/walk_20007.png");
    }
    90% {
        background-image: url("../img/player/Walk/walk_20008.png");
    }
    100% {
        background-image: url("../img/player/Walk/walk_20009.png");
    }
}

.walkupleft {
    height: 80px;
    width: 90px;
    animation-name: walkUpLeft;
    animation-duration: 1s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}

@keyframes walkUpLeft {
    0% {
        background-image: url("../img/player/Walk/walk_40000.png");
    }
    20% {
        background-image: url("../img/player/Walk/walk_40001.png");
    }
    30% {
        background-image: url("../img/player/Walk/walk_40002.png");
    }
    40% {
        background-image: url("../img/player/Walk/walk_40003.png");
    }
    50% {
        background-image: url("../img/player/Walk/walk_40004.png");
    }
    60% {
        background-image: url("../img/player/Walk/walk_40005.png");
    }
    70% {
        background-image: url("../img/player/Walk/walk_40006.png");
    }
    80% {
        background-image: url("../img/player/Walk/walk_40007.png");
    }
    90% {
        background-image: url("../img/player/Walk/walk_40008.png");
    }
    100% {
        background-image: url("../img/player/Walk/walk_40009.png");
    }
}

.walkdownleft {
    height: 80px;
    width: 90px;
    animation-name: walkDownLeft;
    animation-duration: 1s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}

@keyframes walkDownLeft {
    0% {
        background-image: url("../img/player/Walk/walk_60000.png");
    }
    20% {
        background-image: url("../img/player/Walk/walk_60001.png");
    }
    30% {
        background-image: url("../img/player/Walk/walk_60002.png");
    }
    40% {
        background-image: url("../img/player/Walk/walk_60003.png");
    }
    50% {
        background-image: url("../img/player/Walk/walk_60004.png");
    }
    60% {
        background-image: url("../img/player/Walk/walk_60005.png");
    }
    70% {
        background-image: url("../img/player/Walk/walk_60006.png");
    }
    80% {
        background-image: url("../img/player/Walk/walk_60007.png");
    }
    90% {
        background-image: url("../img/player/Walk/walk_60008.png");
    }
    100% {
        background-image: url("../img/player/Walk/walk_60009.png");
    }
}

.walkdownright {
    height: 80px;
    width: 90px;
    animation-name: walkDownRight;
    animation-duration: 1s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}

@keyframes walkDownRight {
    0% {
        background-image: url("../img/player/Walk/walk_00000.png");
    }
    20% {
        background-image: url("../img/player/Walk/walk_00001.png");
    }
    30% {
        background-image: url("../img/player/Walk/walk_00002.png");
    }
    40% {
        background-image: url("../img/player/Walk/walk_00003.png");
    }
    50% {
        background-image: url("../img/player/Walk/walk_00004.png");
    }
    60% {
        background-image: url("../img/player/Walk/walk_00005.png");
    }
    70% {
        background-image: url("../img/player/Walk/walk_00006.png");
    }
    80% {
        background-image: url("../img/player/Walk/walk_00007.png");
    }
    90% {
        background-image: url("../img/player/Walk/walk_00008.png");
    }
    100% {
        background-image: url("../img/player/Walk/walk_00009.png");
    }
}


/*animations end*/


/*End Position*/

.endleft {
    height: 80px;
    width: 90px;
    background-size: 100% 100%;
    background-image: url("../img/player/Walk/walk_50000.png");
}

.endright {
    height: 80px;
    width: 90px;
    background-size: 100% 100%;
    background-image: url("../img/player/Walk/walk_10000.png");
}

.endup {
    height: 80px;
    width: 90px;
    background-size: 100% 100%;
    background-image: url("../img/player/Walk/walk_30000.png");
}

.enddown {
    height: 80px;
    width: 90px;
    background-size: 100% 100%;
    background-image: url("../img/player/Walk/walk_70000.png");
}

.enddownright {
    height: 80px;
    width: 90px;
    background-size: 100% 100%;
    background-image: url("../img/player/Walk/walk_00000.png");
}

.endupright {
    height: 80px;
    width: 90px;
    background-size: 100% 100%;
    background-image: url("../img/player/Walk/walk_20000.png");
}

.enddownleft {
    height: 80px;
    width: 90px;
    background-size: 100% 100%;
    background-image: url("../img/player/Walk/walk_60000.png");
}

.endupleft {
    height: 80px;
    width: 90px;
    background-size: 100% 100%;
    background-image: url("../img/player/Walk/walk_40000.png");
}


/*End position end*/


/*Persos end*/